<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://widgetstore-func-gmdxb2oqi6e7e.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/9e756649-7f9c-418b-9c9a-4962f275c206/resourceGroups/widgetstoregroup-t1/providers/Microsoft.Web/sites/widgetstore-func-gmdxb2oqi6e7e</ResourceId>
    <UserName>$widgetstore-func-gmdxb2oqi6e7e</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://widgetstore-func-gmdxb2oqi6e7e.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>